.cards{
    display: grid;
    grid-template-columns: auto auto auto;
}

.cards> div{
    padding:0% 15% 8% 8%;
}

.campDetail {
    font-size:18px;
    margin-left:5%;
    color:tomato;
    text-align: center;
    font-weight: bolder;
}